@model List<UserRoleViewModel>
@{
    ViewData["Title"] = "EditUsersInRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    var roleId = ViewBag.roleId;
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Edit Users In Role <small>edit users in role</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="AdminDashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a asp-action="RoleIndex" asp-controller="Account">Role List</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a asp-action="EditRole" asp-controller="Account" asp-route-id="@roleId">Edit Role</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a asp-action="EditUsersInRole" asp-controller="Account" asp-route-roleId="@roleId">Edit Users In Role</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-warning">Add or Remove Users from this Role</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="EditUsersInRole" method="post">
                        <div class="form-group">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div>
                                    <input type="hidden" asp-for="@Model[i].UserId" />
                                    <input type="hidden" asp-for="@Model[i].UserName" />
                                    <input asp-for="@Model[i].IsSelected" class="checkbox-inline" />
                                    <label asp-for="@Model[i].IsSelected" class="checkbox-inline">@Model[i].UserName</label>
                                </div>
                            }
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Update" asp-route-roleid="@roleId" class="btn btn-success" />
                            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-danger">Cancle</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

