@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<div class="login">
  
    <div class="logo">
        <a asp-action="Login" asp-controller="Account">
            <img src="~/AdminPanel/assets/admin/layout/img/logo-big.png" alt="Logo" />
        </a>
    </div>
    <div class="content">
        <div class="login-form">
            <form asp-action="Login" method="post">
                <h3 class="form-title">Sign In</h3>
                @*<div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                </div>*@
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    @*ie8, ie9 does not support html5 placeholder, so we just show field title for that*@
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <input asp-for="Email" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input asp-for="Password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success uppercase">Login</button>
                    @*<div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>*@
                    <label class="rememberme check"><input type="checkbox" asp-for="RememberMe" value="0" /> RememberMe</label>
                    <a asp-action="ForgotPassword" asp-controller="Account" id="forget-password" class="forget-password">Forgot Password?</a>
                </div>
            </form>

            <div class="login-options">
                <h4>Or login with</h4>
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div class="social-icons">
                                @foreach (var provider in loginProviders)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <p>
                                            <button type="submit" class="social-icon-color googleplus" name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account"></button>
                                        </p>
                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <p>
                                            <button type="submit" class="social-icon-color facebook" name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account"></button>
                                        </p>
                                    }
                                    else if (provider.Name == "Twitter")
                                    {
                                        <p>
                                            <button type="submit" class="social-icon-color twitter" name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account"></button>
                                        </p>
                                    }
                                    else if (provider.Name == "LinkedIn")
                                    {
                                        <p>
                                            <button type="submit" class="social-icon-color linkedin" name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account"></button>
                                        </p>
                                    }

                                }
                            </div>
                        </form>
                    }
                }  

            </div>
            <div class="create-account">
                <p>
                    <a asp-action="Register" asp-controller="Account" class="uppercase">Create an account</a>
                </p>
            </div>
            
        </div>
    </div>
    <div class="copyright">
        2020 © MassData Limited.
    </div> 
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}