@model List<UserRolesViewModel>
@{
    ViewData["Title"] = "Manage User Roles";
    Layout = "~/Views/Shared/TestAdminLayout.cshtml";

    var userId = ViewBag.UserId;
}

<div class="well">
    <h3 class="alert bg-primary text-center">Manage User Roles</h3>
    <h4 class="text-warning">Add or Remove Roles from this User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ManageUserRoles" method="post">
                <div class="form-group">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div>
                            <input type="hidden" asp-for="@Model[i].RoleId" />
                            <input type="hidden" asp-for="@Model[i].RoleName" />
                            <input asp-for="@Model[i].IsSelected" class="checkbox-inline" />
                            <label asp-for="@Model[i].IsSelected" class="checkbox-inline">@Model[i].RoleName</label>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" asp-route-id="@userId" class="btn btn-success" />
                    <a asp-action="EditUser" asp-route-id="@userId" class="btn btn-danger">Cancle</a>
                </div>
            </form>
        </div>
    </div>
</div>
