@model List<PBMS.Models.ApplicationUser>
@{
    ViewData["Title"] = "RegisterIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var i = 1;
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        User List <small>user list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="AdminDashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            
            <li>
                <a asp-action="UserList" asp-controller="Account">User List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed" id="myTable">
                <thead>
                    <tr class="bg-primary">
                        <th>#.</th>
                        <th>
                            User name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (i % 2 == 0)
                        {
                            <tr class="warning">
                                <td>@i.</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <form asp-action="DeleteUser" asp-route-id="@item.Id" method="post">
                                        <a asp-action="EditUser" asp-controller="Account" asp-route-id="@item.Id" class="btn btn-warning btn-xs">Edit</a>
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete user : @item.UserName')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="success">
                                <td>@i.</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <form asp-action="DeleteUser" asp-route-id="@item.Id" method="post">
                                        <a asp-action="EditUser" asp-controller="Account" asp-route-id="@item.Id" class="btn btn-warning btn-xs">Edit</a>
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete user : @item.UserName')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
