@model IEnumerable<PBMS.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Group List <small>group list</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="AdminDashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @*<li>
                <a asp-action="Create" asp-controller="Groups">Add New Group</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            <li>
                <a asp-action="Index" asp-controller="Groups">Group List</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>


